:root {
  --black-square: rgb(37, 35, 35);
  --white-square: burlywood;
  --black-piece: rgb(100, 93, 79);
  --white-piece: rgb(216, 186, 147);
  --plain-shadow-colour: grey;
  --fancy-shadow-colour: rgb(134, 67, 182);
  --moving-player-colour: rgb(216, 186, 238);
  --waiting-player-colour: grey;
  --plain-border: var(--plain-shadow-colour) outset 5px;
  --fancy-border: 5px outset var(--fancy-shadow-colour);
  --font: 'Fredoka', sans-serif;
  --button-colour: bisque;
  --btn-secondary-colour: rgb(185, 121, 231);
  --component-bg-colour: rgb(226, 182, 128);
  --component-border-colour: rgb(204, 170, 128);
  --component-shadow-colour: rgb(177, 148, 114);
  --light-fancy-shadow: rgb(179, 145, 202);
  --white-king: gold;
  --black-king: silver;
  --bg-grad-1: rgb(235, 233, 236) 0;
  --bg-grad-2: rgb(182, 161, 197) 50%;
  --bg-grad-3: rgb(149, 111, 177) 100%;
}

body {
  margin: 0;
  font-family: var(--font);
  background: linear-gradient(
    180deg,
    var(--bg-grad-1),
    var(--bg-grad-2),
    var(--bg-grad-3)
  );
}

form {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

input[type='text'],
input[type='password'] {
  font-family: var(--font);
  width: 30%;
  height: 50px;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 5px;
}

input[type='submit'] {
  margin-top: 20px;
}

label {
  font-family: var(--font);
  font-weight: bolder;
  font-size: 1.7rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

::-webkit-scrollbar {
  margin-right: 4px;
  height: 98%;
  width: 0.5em;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: var(--light-fancy-shadow);
  outline: 1px solid var(--fancy-shadow-colour);
}

/* Utility classes */
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.short {
  height: auto;
  width: auto;
  margin-top: 0;
  font-size: 0.8em;
}

.corner {
  position: absolute;
  right: 5px;
  top: 5px;
}

.spaced {
  margin-top: 15px;
}

/* Common classes */

.menu-container {
  width: 100%;
  height: 100vh;
}

.base-button {
  font-family: var(--font);
  width: 30%;
  height: 50px;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: var(--button-colour);
  border: 1px var(--btn-secondary-colour) solid;
  border-radius: 5px;
}

.base-button:hover {
  color: var(--btn-secondary-colour);
}

.base-button:active {
  box-shadow: 1px 1px 5px var(--fancy-shadow-colour),
    -1px 1px 5px var(--fancy-shadow-colour);
}

.popup {
  font-family: var(--font);
  width: 60%;
  height: 60%;
  background-color: var(--component-bg-colour);
  position: absolute;
  border: var(--plain-border);
  box-shadow: 5px 10px 20px var(--plain-shadow-color);
  padding: 10px;
}

.popup-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

#popup {
  max-width: 40%;
}

.popup-message {
  font-family: var(--font);
}

.max {
  width: 100%;
  height: 100%;
}

.light-bg {
  border: var(--plain-border);
  box-shadow: 0px 3px 5px var(--plain-shadow-color),
    0px 3px 5px var(--plain-shadow-color), 0px 3px 5px var(--plain-shadow-color);
}

.colour-select {
  width: 100px;
  height: 50px;
}

.white-square {
  background-color: var(--white-square);
  width: 50px;
  height: 50px;
}

.black-square {
  background-color: var(--black-square);
  width: 50px;
  height: 50px;
}

.board {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  border: var(--plain-border);
  box-shadow: 0px 8px 10px var(--plain-shadow-color),
    -10px 8px 15px var(--plain-shadow-color),
    10px 8px 15px var(--plain-shadow-color);
  width: 50vw;
  height: 50vw;
}

.select {
  /* position: none; */
  width: 90%;
  height: 90%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: var(--black-square);
}

.white {
  background-color: var(--white-square);
}

.blacks-piece {
  background-color: var(--black-piece);
}

.whites-piece {
  background-color: var(--white-piece);
}

.chat-group-ele {
  position: absolute;
}

.screen {
  position: relative;
}

@media (max-width: 600px) {
  .popup {
    width: 90%;
    height: 75%;
  }

  .base-button,
  input[type='text'],
  input[type='password'] {
    width: 60%;
  }

  .short {
    font-size: 1.2rem;
    height: initial;
    width: initial;
    margin-top: 0;
  }

  .bottom-right {
    margin-bottom: 20px;
  }

  .popup-message {
    font-size: 1.1em;
  }

  #playerName {
    height: 40px;
  }
  .chat-group-ele {
    position: initial;
  }
}

@media (max-height: 400px) {
  .menu-container,
  .popup {
    height: initial;
    padding: 10px 0;
    margin: 40px 0;
  }

  .popup {
    position: relative;
  }

  .chat-group-ele {
    position: initial;
  }
}
