.screen {
  display: flex;
  width: 100%;
  height: 100vh;
}

#left-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
}

#scores {
  height: 20%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.square {
  display: flex;

  padding: 0;
  justify-content: center;
  align-items: center;
}

.destination {
  background-color: var(--light-fancy-shadow);
}

.piece {
  /* position: none; */
  width: 90%;
  height: 90%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whites-king {
  background-color: var(--white-king);
}

.blacks-king {
  background-color: var(--black-king);
}

#quit {
  position: fixed;
  width: auto;
  left: 5px;
  bottom: 5px;
}

.quit {
  width: auto;
}
.card-comp {
  width: 30%;
  height: 65%;
  margin: 0 2% 0 1%;
}

#chat-menu {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.chat-ele {
  height: 90%;
}

@media (max-width: 600px) {
  .screen {
    flex-direction: column;
    justify-content: center;
  }

  .card-comp {
    width: 40%;
  }

  #left-side {
    width: 100%;
    height: auto;
  }

  .board {
    width: 90vw;
    height: 90vw;
  }

  #quit {
    width: auto;
    height: auto;
  }

  .quit {
    font-size: 1.1rem;
    height: auto;
  }

  .container {
    display: initial;
    height: initial;
    margin-top: 20px;
  }

  #left-side {
    justify-content: initial;
  }
  #scores {
    justify-content: space-evenly;
  }

  #chat-menu {
    width: 90%;
    height: 35%;
    align-items: initial;
    margin: auto;
  }
  .chat-ele {
    width: 100%;
    margin-right: 2%;
  }

  .tutorial-outer {
    margin-top: 20px;
    width: 100%;
    position: absolute;
  }
}
