.collapsed {
  font-size: 0.8em;
  position: absolute;
  background-color: var(--button-colour);
}

.collapsed .toggle-button {
  margin-top: initial;
  font-size: 1.3em;
  width: auto;
  height: auto;
}

.c-open .base-button {
  font-size: 1em;
  width: auto;
  height: auto;
  margin-top: initial;
}

.c-open {
  margin-top: initial;
  position: absolute;
  background-color: var(--button-colour);

  border: var(--fancy-shadow-colour) 5px solid;
  border-radius: 15px;
  box-shadow: 3px 0px 4px var(--light-fancy-shadow),
    0px 3px 4px var(--light-fancy-shadow),
    -3px 0px 4px var(--light-fancy-shadow);
}

.c-open .toggle-button {
  position: absolute;
  right: 5px;
  top: 5px;
  margin-top: initial;
  font-size: 0.8em;
  width: auto;
  height: auto;
}

.top-right {
  right: 1%;
  top: 5px;
}

.bottom-right {
  left: 1%;
  top: 5px;
}

@media (max-width: 600px) {
  .c-open {
    width: calc(98% - 10px);
    z-index: 10;
  }

  fieldset {
    width: 100%;
  }

  #showButton {
    margin-top: initial;

    font-family: var(--font);

    margin-top: initial;
    font-weight: bolder;
    background-color: var(--button-colour);
    border: 1px var(--btn-secondary-colour) solid;
    border-radius: 5px;
  }
}
